* {
  font-family: 'Inter', sans-serif;
  color: #fff;
}    
    body {
      background-color: rgb(253, 251, 251);
    }
    title {
      background-color: rgb(230, 177, 177);
      width: 400px;
      height: 400px;
      margin: auto;
  }

#cabecalho {
  background-color: rgb (230, 177, 177);
  padding: 30px 10px; /* definição do distanciamento do elemento e suas bordas */
  color: black; /*cor do texto*/
  text-align: center; /* texto centralizado */
  font-weight: bold;
  line-height: 1.8;
  position:fixed; /* Posição fixa no topo da pagina */
  top: 0;
  width: 100%; /* O cabeçalho abrange toda a pagina de tamanho */
}

#rodape {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
